In [14]:
import pandas as pd
import numpy as np
import math
import os
from sqlalchemy import create_engine
import geopandas as gp
import json

from bokeh.io import output_notebook, show, output_file
from bokeh.plotting import figure
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar, NumeralTickFormatter
from bokeh.palettes import brewer

from bokeh.io.doc import curdoc
from bokeh.models import Slider, HoverTool, Select
from bokeh.layouts import widgetbox, row, column

In [10]:
%load_ext dotenv
%dotenv ../.env

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [11]:
cnx = create_engine(os.getenv('EDMDB'))

Test connection

In [12]:
df2000 = pd.read_sql_query('SELECT * FROM gep690.census_2000', cnx)
df2000.head()

,id,geom,borocode,boro_ct2000,boro_name,cdeligibil,ct2000,ctlabel,ntacode,ntaname,...,median_hh_income,tot_housing_units,owner_occupied_housing_units,pct_owner_occupied,median_housing_value,in_labor_force_16up,in_labor_force_unemployed_16up,pct_unemployed_16up,pct_below_poverty_level,pct_educated
0,1330,0106000020D70800000100000001030000000100000064...,SI,5029104,Staten Island,I,029104,291.04,SI05,New Springville-Bloomfield-Travis,...,62260,2355,1658,70.4,187500,3705,286,5.3,7.220,25.687
1,1781,0106000020D7080000010000000103000000010000002A...,SI,5008900,Staten Island,I,008900,89,SI22,West New Brighton-New Brighton-St. George,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
2,38,0106000020D70800000100000001030000000100000013...,BX,2025000,Bronx,I,025000,250,BX49,Pelham Parkway,...,38854,996,415,41.7,194100,998,45,2.3,6.673,24.171
3,196,0106000020D70800000100000001030000000100000020...,BK,3027101,Brooklyn,E,027101,271.01,BK61,Crown Heights North,...,26686,606,94,15.5,182800,528,30,2.3,28.331,12.138
4,1418,0106000020D7080000010000000103000000010000002C...,QN,4056700,Queens,I,056700,567,QN19,Glendale,...,51544,1502,904,60.2,195300,2119,117,3.5,9.611,19.760

Generate a report of rows with zeros in the median household income

In [13]:
zero_mi_2000 = df2000.loc[df2000['median_hh_income'] == 0]
zero_mi_2000 = zero_mi_2000[~zero_mi_2000['ntaname'].str.contains('park-')]
zero_mi_2000 = zero_mi_2000[~zero_mi_2000['ntaname'].str.contains('Airport')]
zero_mi_2000

,id,geom,borocode,boro_ct2000,boro_name,cdeligibil,ct2000,ctlabel,ntacode,ntaname,...,median_hh_income,tot_housing_units,owner_occupied_housing_units,pct_owner_occupied,median_housing_value,in_labor_force_16up,in_labor_force_unemployed_16up,pct_unemployed_16up,pct_below_poverty_level,pct_educated
1,1781,0106000020D7080000010000000103000000010000002A...,SI,5008900,Staten Island,I,008900,89,SI22,West New Brighton-New Brighton-St. George,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
46,1473,0106000020D7080000010000000103000000010000001E...,BK,3081200,Brooklyn,I,081200,812,BK60,Prospect Lefferts Gardens-Wingate,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
132,667,0106000020D70800000100000001030000000100000019...,BX,2004002,Bronx,I,004002,40.02,BX09,Soundview-Castle Hill-Clason Point-Harding Park,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
235,1716,0106000020D70800000100000001030000000100000041...,BX,2018700,Bronx,I,018700,187,BX63,West Concourse,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
295,433,0106000020D70800000100000001030000000100000024...,QN,4019100,Queens,I,019100,191,QN31,Hunters Point-Sunnyside-West Maspeth,...,0,0,0,0.0,0,0,0,0.0,0.000,0.977
352,1503,0106000020D708000001000000010300000001000000A9...,BX,2028400,Bronx,I,028400,284,BX37,Van Nest-Morris Park-Westchester Square,...,0,2,1,50.0,0,4,0,0.0,55.696,11.914
459,1688,0106000020D70800000100000001030000000100000064...,QN,4017100,Queens,I,017100,171,QN31,Hunters Point-Sunnyside-West Maspeth,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
661,1478,0106000020D70800000100000001030000000100000073...,MN,1030100,Manhattan,I,030100,301,MN01,Marble Hill-Inwood,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
720,1655,0106000020D70800000100000001030000000100000021...,BX,2041000,Bronx,I,041000,410,BX62,Woodlawn-Wakefield,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
790,879,0106000020D70800000200000001030000000100000011...,QN,4099900,Queens,I,099900,999,QN47,Ft. Totten-Bay Terrace-Clearview,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
827,1927,0106000020D70800000100000001030000000100000067...,BK,3003200,Brooklyn,I,003200,32,BK31,Bay Ridge,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
837,1652,0106000020D7080000010000000103000000010000003B...,BX,2031900,Bronx,I,031900,319,BX22,North Riverdale-Fieldston-Riverdale,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
855,661,0106000020D7080000010000000103000000010000000C...,BK,3008600,Brooklyn,I,008600,86,BK34,Sunset Park East,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
1030,1698,0106000020D708000001000000010300000001000000F3...,BX,2000100,Bronx,I,000100,1,BX98,Rikers Island,...,0,0,0,0.0,0,0,0,0.0,0.000,0.952
1095,2142,0106000020D7080000010000000103000000010000003D...,BX,2008100,Bronx,I,008100,81,BX27,Hunts Point,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
1650,921,0106000020D7080000010000000103000000010000001C...,QN,4024400,Queens,I,024400,244,QN61,Jamaica,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
1978,1356,0106000020D70800000100000001030000000100000021...,BK,3087402,Brooklyn,I,087402,874.02,BK60,Prospect Lefferts Gardens-Wingate,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000
2169,2104,0106000020D70800000100000001030000000100000032...,QN,4042600,Queens,I,042600,426,QN08,St. Albans,...,0,0,0,0.0,0,0,0,0.0,0.000,7.856
2192,1693,0106000020D70800000100000001030000000100000078...,BK,3107000,Brooklyn,I,107000,1070,BK82,East New York,...,0,0,0,0.0,0,0,0,0.0,0.000,0.000

In [30]:
nyc_2000 = gp.read_file('../Shapefiles/NYC_Census_Tracts_2000.geojson')
nyc_2000.crs = {'init': 'epsg:2263'}
nyc_2000.sort_values(by=['boro_ct200'])
nyc_2000.set_geometry('geometry')
nyc_2000.head()

,boro_code,boro_ct200,boro_name,cdeligibil,ct2000,ctlabel,ntacode,ntaname,puma,shape_area,shape_leng,geometry
0,1,1009800,Manhattan,I,009800,98,MN19,Turtle Bay-East Midtown,3808,1.906016e+06,5534.200060,"MULTIPOLYGON (((994133.507 214848.898, 994005...."
1,1,1010000,Manhattan,I,010000,100,MN19,Turtle Bay-East Midtown,3808,1.860938e+06,5692.168666,"MULTIPOLYGON (((993108.306 216013.131, 992982...."
2,1,1019000,Manhattan,E,019000,190,MN11,Central Harlem South,3803,1.117372e+06,4231.826588,"MULTIPOLYGON (((999462.778 231690.097, 999336...."
3,1,1020600,Manhattan,E,020600,206,MN03,Central Harlem North-Polo Grounds,3803,1.602694e+06,5176.873151,"MULTIPOLYGON (((1002020.030 234205.400, 100200..."
4,1,1021702,Manhattan,E,021702,217.02,MN03,Central Harlem North-Polo Grounds,3803,4.469939e+05,3338.290909,"MULTIPOLYGON (((998910.797 236510.392, 998785...."

nyc_merged = pd.merge(nyc_2000, df2000, on='[boro_ct200, boro_ct2000]', how='left')
nyc_merged_json = json.loads(nyc_merged.to_json())
json_data = json.dumps(nyc_merged_json)